# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/temp
Gemfile.lock

/config/secrets.yml

# Ignore Byebug command history file.
.byebug_history

.env
db/schema.rb