<h1>Hello, <%=@user.username %></h1>  
<%= link_to "Search", new_event_path(@event) %>
<p>Your Upcoming Events</p>

<ul>
    <li>
        Nasa Hackathon
        <ul>
            <li>Tony @email</li>
            <li>Shean @email</li>
            <li>Bob @email</li>
        </ul>
    </li>
    <br>
    <li>
        DBC Hackathon
        <ul>
            <li>Mark @email</li>
            <li>Brian @email</li>
            <li>Greg @email</li>
        </ul>
    </li>
    <br>
    <li>
        Pickles Hackathon
        <ul>
            <li>Peter @email</li>
            <li>Susan @email</li>
            <li>Sara @email</li>
        </ul>
    </li>        
</ul>
<br>
<p>---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------</p>
<p> Past Hackathons</p>

<ul>
    <li>
        Some Hackathon
        <ul>
            <li>Tony @email</li>
            <li>Shean @email</li>
            <li>Bob @email</li>
        </ul>
    </li>
    <br>
    <li>
        Another Hackathon
        <ul>
            <li>Mark @email</li>
            <li>Brian @email</li>
            <li>Greg @email</li>
        </ul>
    </li>
    <br>
    <li>
        Third Random Hackathon
        <ul>
            <li>Peter @email</li>
            <li>Susan @email</li>
            <li>Sara @email</li>
        </ul>
    </li>        
</ul>
    
        <div class="col l3 s12">
          <br><br><br>

            <a href="/users/sign_out" data-method="delete" class="waves-effect waves-light btn-large">Logout</a>

        </div>