<h1>happppppy</h1>        

        <div class="col l3 s12">
          <br><br><br>

            <a href="/users/sign_out" data-method="delete" class="waves-effect waves-light btn-large">Logout</a>

        </div>