
<%= link_to "Profile", user_path(current_user) %>


<%= link_to "Home", root_path(@session) %>




<form action= "/search" method="get" style="display: block;"/>
  <select name="select[city]">
    <option value="" disabled selected>Select City</option>
    <option value="sanfrancisco">San Francisco</option>
    <option value="seattle">Seattle</option>
    <option value="austin">Austin</option>
    <option value="sandiego">San Diego</option>
    <option value="chicago">Chicago</option>
    <option value="newyork">New York</option>
  </select>
  <input type="Submit" value="Search" class="btn-large waves-effect waves-light teal lighten-1">
</form>