        <div class="col l3 s12">
          <br><br><br>
          
          <% if user_signed_in? %>
            <a href="/users/sign_out" data-method="delete" class="waves-effect waves-light btn-large"><i class="material-icons left">power_settings_new</i>Logout</a>
          <% end %>
        </div>